body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-style: 40px;
}
p{
    color: gray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 170px;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #fa8072 , #ff6347);
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    text-transform: uppercase;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-exprience{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    border-radius: 5px;
    background-color: white;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 14px;
}